<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon class="flaticon-close flaticon-filter"></ion-icon>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding std-from">
  <div class="">
    <br>
    <ion-label><span class="link">Sharing Information</span></ion-label>
    <p *ngIf="friendInfoDetail.name">Name : {{ friendInfoDetail.name }}</p>
    <p *ngIf="friendInfoDetail.email">Email : {{ friendInfoDetail.email }}</p>
    <p *ngIf="friendInfoDetail.phone">Phone : {{ friendInfoDetail.phone }}</p>
    <p *ngIf="friendInfoDetail.country">Country : {{ friendInfoDetail.country }}</p>
    <p *ngIf="friendInfoDetail.state">State : {{ friendInfoDetail.state }}</p>
    <p *ngIf="friendInfoDetail.city">City : {{ friendInfoDetail.city }}</p>
    <p *ngIf="friendInfoDetail.message">Message : {{ friendInfoDetail.message }}</p>
    <br>
    <ion-label><span class="link">Reward Selected</span></ion-label>
    <p>Amazon</p>
  </div>
</ion-content>
