ion-input {
    text-align: center;
}

// #verification {
//     text-align: center;
//     height: 100%;

//     .section_one {
//         height: 15%;

//         h2 {
//             font-weight: 900;
//             padding-top: 2%;
//         }

//         p {
//             color: var(--ion-color-color1);
//             font-weight: bold;
//         }
//     }

//     .section_two {
//         height: 70%;

//         img {
//             height: 50%;
//         }

//         ion-item {
//             // border: 2px solid var(--ion-color-color2);
//         }
//     }

//     .section_three {
//         height: 15%;
//     }
// }