<!-- Header -->
<ion-header class="ion-no-border">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back" routerDirection="root">
      </ion-back-button>
    </ion-buttons>

    <!-- Page tile -->
    <ion-title>How it works?</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Contents -->
<ion-content id="category" class="ion-padding">

  <div class="section_one">
    <h2>Campus Anonymous</h2>
    <h3>How it works <br>
    </h3>
    <p>Sign in to help a friend and collect your reward</p>
  </div>

  <p style="margin-top: 65px;" >The App is for students who wish to help their friends by anonymously informing their friend's family about friend's troubling situation. <br> <br>
    The App requires the family member to provide a reward and rating for the shared information.  Student chooses the reward option/amount.  <br> <br>
    No identities are shared or revealed.  Family member receives only the shared text and nothing else. <br><br>
    Information shared is encrypted and shared only with the family member <br><br>
    Once information is accessed by the family member, the shared information is deleted from the system in 24 hours… poof! <br><br>

  </p>

  <p style="font-weight: bold;" >How does Campus Anonymous afford to provide for this service?</p> 
  <p style="margin-top: 25px;">We take a share of the reward.  The size of the share is based on the reporting student's feedback rating.  The higher the rating the less we take.  In other words, the more good you do, the more you get rewarded.  </p>
  
  <h3 style=" text-align: center; font-size: 20px; color: var(--ion-color-color1); font-weight: bold;" >Lets do good and prosper!</h3>

</ion-content>
