<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>

      <!-- Side Menu Option -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <!-- Title of page -->
      <ion-title>Submission Confirmation</ion-title>

  </ion-toolbar>
</ion-header>


<!-- Contents -->
<ion-content class="ion-padding std-from">

  <br>
  <ion-label><span>That's all.</span></ion-label>
  <p>Your information has been shared anonymously.</p>

  <br>
  <ion-label><span>What can you expect next?</span></ion-label>

  <p>1) You will receive an alert if and when information is matched to your friend's family member.  Could be seconds to never.  </p>

  <p>2) When they access the information, you will receive an alert and your reward.  </p>

  <p>3)  You will receive a second alert for feedback rating, if and when your friend's family member rates your shared information.  Based on your rating you could expect addition, subtraction or no change to your cash reward value.  </p>

  <p>4) If you don't receive any alert within 72 hours, your friend's family member does not have an account with Campus Anonymous.  Don't give up yet.  Maybe they have never heard of Campus Anonymous and you may have a discreet way of bringing it to their attention.   </p>

</ion-content>
