<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title>Search Children</ion-title>

    <!-- Cart Button Option -->
    <!-- <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding" id="home" fullscreen>

  <div>
    <ngx-rating [(ngModel)]="rating" (ngModelChange)="change_callback($event)"></ngx-rating>
  </div> 
  <!-- Children Name -->
  <ion-item class="">
    <ion-input type="text" placeholder="Children Name / Email / Phone" name="children_name" [(ngModel)]="searchTxt" (ionChange)="searchChildren()"></ion-input>
  </ion-item>

  <ion-list>
    <ion-list-header>
      Search Result
    </ion-list-header>

    <ion-item *ngFor="let item of friendsInfo$ | async" (click)="detailPopup(item.id)">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <h3>{{ item.phone }}</h3>
        <h3>{{ item.email }}</h3>
        <p>{{ item.country +', '+item.state+', '+item.city }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
