<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title> Your Information</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" id="home" fullscreen>
  <div class="section_one">
    <h4>Here is your information:</h4>
    <p >It is saved as a draft...</p>
    <p>You can continue from where you left off. </p>
  </div>

  <br><br>
  <p>Message for family:</p> 
  <ion-list>
    <ion-item class="">
      <ion-label>
        <ion-icon name="" color="color2"></ion-icon>
      </ion-label>
      <ion-textarea rows="5" [(ngModel)]="message" placeholder="Start Typing Here..." name="message"></ion-textarea>
    </ion-item>
    
    <ion-button expand="block" (click)="rewardOption()" routerDirection="root">
      share & select reward
    </ion-button>

    <br><br>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border std-from">
  <ion-list lines="none">

    <!-- <ion-button expand="block" routerDirection="root">
      <ion-text><strong>Review Info</strong></ion-text>
    </ion-button> -->

  </ion-list>
</ion-footer>
