<!-- Contents -->
<ion-content class="ion-no-padding auth-page" fullscreen>
  <div class="header">
    <h2>
      <span>Welcome to,</span>
      Campus Anonymous!
    </h2>
    <!-- <p>For Students A Good Friend Indeed </p>
    <h3>Sign in to help a friend and collect your reward</h3> -->
    <h3>Login</h3>
  </div>

  <!-- SignIn Form -->
  <form class="std-from">
    <ion-list lines="none">
      <!-- Email -->
      <ion-list-header>
        <ion-label>Username <sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="email" [(ngModel)]="email" placeholder="Email" name="email"></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-list-header>
        <ion-label>Password <sup>*</sup></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input type="password" [(ngModel)]="password" placeholder="Password" name="password"></ion-input>
      </ion-item>

      <ion-list-header routerLink="/forget-password" class="link ion-text-end">
        <ion-label><span>Forgot Password?</span></ion-label>
      </ion-list-header>
      <ion-button expand="block" (click)="login()"> Log in  </ion-button>
      <ion-list-header class="link ion-text-center" routerLink="/landing">
        <ion-label>Don't have an account? <span>Register</span></ion-label>
      </ion-list-header>
      <ion-list-header routerLink="/how-it-works" class="link ion-text-center">
        <ion-label><span>How It Works?</span></ion-label>
      </ion-list-header>

    </ion-list>
  </form>

</ion-content>
