<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="side-menu" lines="none">
          <ion-menu-toggle auto-hide="false" lines="none">

            <!-- pro avatar -->
            <ion-item class="header" lines="none">
              <ion-label>
                <span class="name">{{ profileData.name }}</span>
                <span class="email">{{ profileData.email }}</span>
              </ion-label>
            </ion-item>
            <!-- pro avatar -->

            <ion-item *ngIf="profileData.type=='child'" auto-hide="true" routerDirection="root" routerLink="/campus-aonoymous" lines="none" detail="false">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Help Your Friend</ion-label>
            </ion-item>
            
            <ion-item *ngIf="profileData.type=='parent'" auto-hide="true" routerDirection="root" routerLink="/search-children" lines="none" detail="false">
              <ion-icon slot="start" name="search-outline"></ion-icon>
              <ion-label>Search Child</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/change-password" lines="none" detail="false">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-label>Change Password</ion-label>
            </ion-item>
  
            <ion-item routerDirection="root" routerLink="/terms" lines="none" detail="false">
              <ion-icon slot="start" name="document-text-outline"></ion-icon>
              <ion-label>Terms of Use</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/privacy-policy" lines="none" detail="false">
              <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
              <ion-label>Privacy Policy</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/contact-us" lines="none" detail="false">
              <ion-icon slot="start" name="chatbox-outline"></ion-icon>
              <ion-label>Contact Us</ion-label>
            </ion-item>

            <!-- Logout -->
            <ion-item (click)="signOut()" routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
            <!-- ./ Logout /. -->

          </ion-menu-toggle>

        </ion-list>

      </ion-content>
      <ion-footer>
        <ion-item routerDirection="root" lines="none" detail="false">
          <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
          <ion-label>App Version 1.0</ion-label>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
  </ion-split-pane>
  
</ion-app>
