

<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- Back To Landing Page -->
    <ion-buttons slot="start">
      <ion-back-button color="color1" default-href="" text="" icon="arrow-back" routerLink="/landing"
        routerDirection="root">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content id="signup" fullscreen>
  <div class="section_one">
    <h2>SIGN UP</h2>
    <p>Create Anonymous Account</p>
  </div>

  <!-- SignUp Form -->
  <div class="section_two ion-padding">
    <form class="ion-padding">
      <!-- Name -->
      <!-- <ion-item>
        <ion-label>
          <ion-icon name="person" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Name" name="name"></ion-input>
      </ion-item> -->

      <!-- Email -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="mail" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Email verified" name="email"></ion-input>
      </ion-item>

      <!-- Select password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="eye" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Select password" name="password"></ion-input>
      </ion-item>

      <!-- Confirm password -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="lock-closed-sharp" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="password" placeholder="Confirm password" name="confirm_password"></ion-input>
      </ion-item>

      <!-- Country -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="Country" name="country"></ion-input>
      </ion-item>

       <!-- State -->
       <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="State" name="state"></ion-input>
      </ion-item>

      <!-- city -->
      <ion-item class="ion-padding-top">
        <ion-label>
          <ion-icon name="" color="color2"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="City" name="city"></ion-input>
      </ion-item>


      <div class="section_second">
        <h2 >Lets do good and prosper!</h2>
      </div>

      

      <!-- SignUp Button -->
      <div class="buttons ion-padding-top">
        <ion-button expand="block" routerLink="/login" routerDirection="root">
          <ion-text><strong>SIGN UP</strong></ion-text>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>