<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Page title -->
    <ion-title>Not Ready to share</ion-title>


  </ion-toolbar>
</ion-header>


<!-- Contents -->
<ion-content class="ion-padding std-from" id="deal">
  <div class="section_one">
    <p>Here is your information. It is saved as a draft. You can continue from where you left off.</p>
  </div>
  <ion-label><span>Review Information</span></ion-label>
  <p *ngIf="tempFriendInfo.name">Name : {{ tempFriendInfo.name }}</p>
  <p *ngIf="tempFriendInfo.email">Email : {{ tempFriendInfo.email }}</p>
  <p *ngIf="tempFriendInfo.phone">Phone : {{ tempFriendInfo.phone }}</p>
  <p *ngIf="tempFriendInfo.country">Country : {{ tempFriendInfo.country }}</p>
  <p *ngIf="tempFriendInfo.state">State : {{ tempFriendInfo.state }}</p>
  <p *ngIf="tempFriendInfo.city">City : {{ tempFriendInfo.city }}</p>

  <ion-list lines="none">
    <ion-button expand="block" routerLink="/review-info">
      <ion-text><strong>Ok, I am ready </strong></ion-text>
    </ion-button>
    <br><br>
  </ion-list>
  <!-- <p style="font-weight: bold;">to select my reward options and share the above information.</p> -->

</ion-content>


