<!-- Header -->
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- Menu Option -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Title of the app -->
    <ion-title> Reward Option </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content  class="ion-padding std-from" fullscreen>
  <div class="section_one">
    <h4>Select your reward option!</h4>
    <p>You can select your reward preference from down below</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="box">Amazon</div>
      </ion-col>
      <ion-col>
        <div class="box">Flipkart</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="box">Mintra</div>
      </ion-col>
      <ion-col>
        <div class="box">Nykaa</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="box">Lenskart</div>
      </ion-col>
      <ion-col>
        <div class="box">Paytm</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-button expand="block" (click)="confirmInfo()">Confirm Information</ion-button>
    <br><br>
  </ion-list>
</ion-content>
