<!--
  - Notification Screen
  - @author    ThemesBuckets <themebucketbd@gmail.com>
  - @copyright Copyright (c) 2020
  - @license   ThemesBuckets
-->

<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- Side Menu -->
    
    <ion-buttons slot="start">
      <ion-back-button routerLink="/ready-to-share" default-href="" text="" icon="arrow-back" routerDirection="root">
      </ion-back-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>Confirm and Share</ion-title>

  
  </ion-toolbar>
</ion-header>

<!-- Contents -->
<ion-content class="ion-padding">

  <div class="section_second">
    <p>Sharing Information</p>
  </div>

  <div>
    <p>Reward Selected</p>
  </div>

  <div>
    <p>A Thank You Card </p>
  </div>
  
</ion-content>

<ion-footer>
  <ion-button expand="block" routerLink="/" routerDirection="root">
    <ion-text><strong>Submit</strong></ion-text>
  </ion-button>
</ion-footer>