#notifications {
    .unread {
        --background: var(--ion-color-light);
    }
}

.section_second {
    height: 10%;
    text-align: center;

    p {
        font-size: 20px;
        // font-weight: 900;

        // padding-top: 2%;
    

    
        color: var(--ion-color-color1);
        font-weight: bold;
    }
}