<!-- Header -->
<ion-header class="ion-no-border">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="" text="" icon="arrow-back" routerDirection="root">
      </ion-back-button>
    </ion-buttons>

    <!-- Page tile -->
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Contents -->
<ion-content id="category" class="ion-padding">

</ion-content>
