<ion-header class="ion-no-border">
  <ion-toolbar>

    <!-- Side Menu Option -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="section_second ion-padding" fullscreen="true">
  <div class="page-half-bottom form-list">
    <div class="field-content">
      <form class="ion-padding std-from" [formGroup]="ChangeForm">
        <ion-list lines="none">

            <!-- New Password -->
            <ion-list-header>
              <ion-label>New Password <sup>*</sup></ion-label>
            </ion-list-header>
            <ion-item lines="none">
              <ion-input type="password" placeholder="New Password" name="new_password" formControlName="new_password"></ion-input>
            </ion-item>

            <!-- New Confirm Password -->
            <ion-list-header>
              <ion-label>Confirm Password <sup>*</sup></ion-label>
            </ion-list-header>
            <ion-item lines="none">
              <ion-input type="password" placeholder="New Confirm Password" name="new_confirm_password" formControlName="new_confirm_password"></ion-input>
            </ion-item>

        </ion-list>
      </form>
    </div>
  </div>

</ion-content>

<ion-footer>
  <div class="std-from">
    <ion-list lines="none">
      <ion-button expand="block" (click)="change()"> Update <i class="flaticon-right-arrow"></i> </ion-button>
    </ion-list>
  </div>
</ion-footer>